@page "/contactdelete/{id:int}"

@inject IContactService ContactService
@inject NavigationManager NavigationManager

@if (contact == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@contact">
        <div class="card">
            <div class="card-body">
                <div class="container">

                    <RadzenFieldset Text="Contect Details">

                    

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>First Name</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.FirstName"></RadzenTextBox>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Last Name</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.LastName"></RadzenTextBox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Phone</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.Phone"></RadzenTextBox>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Address</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.Address"></RadzenTextBox>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 mb-3">
                        </div>
                        <div class="col-md-4 mb-3">
                            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="@(args => Delete())" />
                            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Dark" Click="@(args => NavigateHome())" />
                        </div>
                        <div class="col-md-4 mb-3">
                        </div>
                    </div>

                    </RadzenFieldset>

                </div>
            </div>
        </div>
    </RadzenTemplateForm>
}



@code {
    public Contact contact;

    [Parameter]
    public int id { get; set; }

    // Sobreescribir uno de los metodos del ciclo de vida de los componentes
    protected async override Task OnInitializedAsync()
    {
        contact = await ContactService.GetContactById(id);
    }

    protected async Task Delete()
    {
        await ContactService.DeleteContact(id);
        NavigateHome();
    }

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
